th,
td 
{
    font-size:12px;
    white-space: wrap; 
}
 .GridView_1 th
 { 
     color: #fff; 
     background-color:#448aff !important;
     font-size:14px;
     font-weight:500;
     text-align:center;
 }
 .GridView_1 td
 {
     padding-left:5px;
     font-size:12px;
     font-weight:500;
     width:25%;
 }
 .GridView_1 td:nth-child(2),
 .GridView_1 td:nth-child(4) 
 {
     color:#8f41fb; 
 } 
 .GridView_1 td:nth-child(1),
 .GridView_1 td:nth-child(3) 
 {
     color:#e7217b; 
 }  
 .GridView_1
 {
     width:100%;
 } 
 .GridView_3 th 
 {
     background-color: #1cc9a7;
     color: #FFF;  
     font-size:12px;
 } 
     .GridView1 td, 
    .GridView1 th 
    {
        text-align:center;
    }
    .GridView1 th
    { 
     color: #fff; 
     background-color: rgb(236, 75, 148);
     font-size:14px;
     font-weight:500;
     text-align:center;
    }
   .style-one {
    text-align: center; 
    margin: 5px 0 18px 0;
    height: 2px;
    border: 0; 
        border-top: medium double #916057;
    color: #916057;
}

    .GridView2 td, 
    .GridView2 th 
    {
        text-align:center;
    }
    .GridView2 th
    { 
     color: #fff; 
     background-color:#33d176;
     font-size:14px;
     font-weight:500;
     text-align:center;
    }
